<!DOCTYPE html>
<html>
    <head>
        <title><%= ip %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= ip %></h1>
        <p>Welcome to <%= ip %></p>
    </body>
</html>
